In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path='/Users/thanhtainguyen/Desktop/sale_and_inv/InventoryAndSale_snapshot_data/MasterData/Distribution Channel.xlsx'

In [4]:
distribution = pd.read_excel(path)
distribution.head()

,Unnamed: 0,index,site_store,b2b_b2c,channel_id,region,city_level,store_concept,trade_term,area_range,...,address_3,showroom_area,warehouse_area,start_month,start_year,end_month,end_year,note,customer_id,customer_name
0,0,0,60000003,B2B,ST,KVMN,Cấp TW,Cửa hàng của các siêu thị,Mua đứt bán đoạn,NaN,...,HCM,NaN,NaN,8,2010,NaN,NaN,NaN,435043cf9,customer878
1,1,1,60000006,B2B,ST,KVMN,Cấp 2,Cửa hàng của các siêu thị,Mua đứt bán đoạn,NaN,...,ĐNI,NaN,NaN,8,2010,NaN,NaN,NaN,db3c83bfa,customer904
2,2,2,60000007,B2B,ST,KVMN,Cấp TW,Cửa hàng của các siêu thị,Mua đứt bán đoạn,NaN,...,HCM,NaN,NaN,8,2010,NaN,NaN,NaN,f9bd8e994,customer1213
3,3,3,60000008,B2B,ST,KVMN,Cấp TW,Cửa hàng của các siêu thị,Mua đứt bán đoạn,NaN,...,HCM,NaN,NaN,8,2010,NaN,NaN,NaN,c6fb2b695,customer1792
4,4,4,60000534,B2B,ST,KVMN,Cấp TW,Cửa hàng của các siêu thị,Mua đứt bán đoạn,NaN,...,HCM,NaN,NaN,8,2010,NaN,NaN,NaN,68be208f8,customer463

In [5]:
distribution.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3405 entries, 0 to 3404
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      3405 non-null   int64
 1   index           3405 non-null   int64
 2   site_store      3405 non-null   int64
 3   b2b_b2c         3405 non-null   object
 4   channel_id      3405 non-null   object
 5   region          3405 non-null   object
 6   city_level      3405 non-null   object
 7   store_concept   3403 non-null   object
 8   trade_term      3405 non-null   object
 9   area_range      464 non-null    object
 10  store_type      3405 non-null   object
 11  urbanization    3405 non-null   object
 12  branch_area     3405 non-null   object
 13  address_2       3403 non-null   object
 14  address_3       3403 non-null   object
 15  showroom_area   470 non-null    object
 16  warehouse_area  456 non-null    object
 17  start_month     3376 non-null   object
 18  start_year      3376 non-null   object
 19  end_month       1927 non-null   object
 20  end_year        1941 non-null   object
 21  note            49 non-null     object
 22  customer_id     3405 non-null   object
 23  customer_name   3405 non-null   object
dtypes: int64(3), object(21)
memory usage: 638.6+ KB

### drop unnecessery data

In [6]:
distribution.drop(['Unnamed: 0','index'],axis=1,inplace=True)

### check null data

In [12]:
distribution.isna().sum()

site_store           0
b2b_b2c              0
channel_id           0
region               0
city_level           0
store_concept        2
trade_term           0
area_range        2941
store_type           0
urbanization         0
branch_area          0
address_2            2
address_3            2
showroom_area     2935
warehouse_area    2949
start_month         29
start_year          29
end_month         1478
end_year          1464
note              3356
customer_id          0
customer_name        0
dtype: int64

In [7]:
distribution.store_concept.value_counts()

Đại lý                                                                  2255
Cửa hàng B thông thường                                                  446
Cửa hàng của các siêu thị                                                287
Các mã khách bán lưu động, khách sĩ vãng lại và các mã khách cá nhân     222
Cửa hàng chuyên doanh                                                    142
Sàn thương mại điện tử (Tiki, Shopee, Lazada,…)                           14
Cửa hàng B Premium                                                        13
Cửa hàng B Special                                                        12
Website bán hàng online của B                                              5
Cửa hàng chuẩn                                                             4
Cửa hàng chuyên kinh doanh các sản phẩm giảm giá                           3
Name: store_concept, dtype: int64

In [8]:
distribution.area_range.value_counts()

100 m2 < và <= 150 m2    255
50 m2 < và <= 100 m2     132
150 m2 < và <= 200 m2     52
> 200 m2                  14
Closed                     8
<= 50 m2                   3
Name: area_range, dtype: int64

In [9]:
distribution.note.value_counts()

mở mới                                                                       6
CLOSED                                                                       4
Thanh lý  ngày 17.06.22.dời sang dịa chỉ khác khai trương ngày 15/07/2022    2
CHUYỂN ĐỊA ĐIỂM KD MỚI KỂ TỪ NGÀY 01.01.2022                                 2
Ban đầu là  site 1410 chuyển qua site 1262 từ ngày 01.03.2021                2
 Ban đầu là 1419 Chuyển qua site 1261                                        2
 Ban đầu là 1420 Chuyển qua site 1260                                        2
 Ban đầu là 1414 Chuyển qua MB site 1259 từ ngày 01.03.2021                  2
Ban đầu là  site 1403 chuyển qua site 1258 từ ngày 01.03.2021                2
bị lấy lại mb chờ tìm mở thay thế                                            2
CHUYỂN QUA SITE 1418 RỒI                                                     2
DO DI DỜI ĐỊA ĐIỂM KHÁC NÊN TÁI KHAI TRƯƠNG 22.02.23                         2
close                                                                        2
Thanh lý  dời sang dịa chỉ khác khai trương ngày28/08/2022                   2
chuyển qua site 1260                                                         2
chuyển qua site 1261                                                         2
 Ban đầu là 1801 Chuyển qua site 1418                                        2
chuyển qua site 1262                                                         2
chuyển qua site 1258                                                         2
new                                                                          2
mở thay thế                                                                  2
chuyển qua site 1259                                                         1
Name: note, dtype: int64

In [10]:
distribution.branch_area.value_counts()

CNMN        1089
CNMB         999
CNMTR-TN     713
CNMT         435
CNLC         132
CNTP          23
CNCA          14
Name: branch_area, dtype: int64

### cause there are so much missing value the relate with object type data , to solve this , we can use fillna in pandas library , we could use Imputer too , but since there are many null data in many columns , sometime it could lead to bias

In [14]:
distribution.fillna('Khác',inplace=True)

In [15]:
distribution.isna().sum()

site_store        0
b2b_b2c           0
channel_id        0
region            0
city_level        0
store_concept     0
trade_term        0
area_range        0
store_type        0
urbanization      0
branch_area       0
address_2         0
address_3         0
showroom_area     0
warehouse_area    0
start_month       0
start_year        0
end_month         0
end_year          0
note              0
customer_id       0
customer_name     0
dtype: int64

In [17]:
distribution.address_3.value_counts()

Closed    1622
HCM        328
HNI        215
ĐNI         50
BDG         46
          ...
LCU          3
YBI          3
CBG          2
Khác         2
BKN          1
Name: address_3, Length: 67, dtype: int64

In [19]:
print(len(distribution.address_3.unique()))

67