In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split

In [3]:
path='/Users/thanhtainguyen/Desktop/Untitled Folder 1/InventoryAndSale_snapshot_data/Sales_snapshot_data/all_data.xlsx'

In [5]:
sale=pd.ExcelFile(path)
sales=sale.sheet_names
print(sales)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [9]:
lists=[]
for exchange in sales:
    liste = pd.read_excel(sale, sheet_name=exchange, na_values='n/a')
    liste['Month'] = exchange
    lists.append(liste)
# Concatenate the listss: lists_data
lists_data = pd.concat(lists)

# Inspect the results
lists_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 578987 entries, 0 to 60223
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   month                      578987 non-null  int64
 1   week                       578987 non-null  int64
 2   site                       578987 non-null  int64
 3   branch_id                  578987 non-null  int64
 4   channel_id                 578987 non-null  object
 5   distribution_channel       578987 non-null  object
 6   distribution_channel_code  578987 non-null  object
 7   sold_quantity              578987 non-null  int64
 8   cost_price                 578987 non-null  int64
 9   net_price                  578987 non-null  int64
 10  customer_id                578986 non-null  object
 11  product_id                 578987 non-null  object
 12  Month                      578987 non-null  object
dtypes: int64(7), object(6)
memory usage: 61.8+ MB

In [35]:
train_sale_set , test_sale_set = train_test_split(lists_data,test_size=0.4,random_state=42)
train_sale_set.head()

,month,week,site,branch_id,channel_id,distribution_channel,distribution_channel_code,sold_quantity,cost_price,net_price,customer_id,product_id,Month
27671,2022006,202225,1258,1200,CHTT,Bán lẻ,FP,3,70104,102000,d61e36c2c,1ea0959caf0f49fa898bb495de35e536XAM25,6
14715,2022003,202212,1237,1200,CHTT,Bán lẻ,FP,1,200291,295000,04f4a71cb,ce37c8c392f14826be6e3fdd53d30805KEM38,3
34010,2022009,202238,1165,1100,CHTT,Bán lẻ,FP,1,206967,304000,8d8a4d58d,2abe7f669ba743a89518c428a20c78f0XDG34,9
39670,2022001,202204,1124,1100,CHTT,Bán lẻ,FP,1,51680,76000,af943870d,31d6cf314c8b4f26985fffc2f7afab9aXAM31,1
22629,2022004,202216,1119,1100,CHTT,Bán lẻ,FP,1,80116,118000,f426464a2,28b22f9eeef24ebdab2d56448a730b71XAM30,4

In [36]:
train_sale_set['week']=train_sale_set['week'].apply(lambda x : x - 202200)
train_sale_set['month']=train_sale_set['month'].apply(lambda x : x - 2022000)
train_sale_set['week'].head()

27671    25
14715    12
34010    38
39670     4
22629    16
Name: week, dtype: int64

In [37]:
features=['month','week','site','branch_id','channel_id','distribution_channel','distribution_channel_code']
def convert(df,columns):
    for column in columns :
        df[column]=df[column].astype('category')
convert(train_sale_set,features)
train_sale_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 347392 entries, 27671 to 2741
Data columns (total 13 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   month                      347392 non-null  category
 1   week                       347392 non-null  category
 2   site                       347392 non-null  category
 3   branch_id                  347392 non-null  category
 4   channel_id                 347392 non-null  category
 5   distribution_channel       347392 non-null  category
 6   distribution_channel_code  347392 non-null  category
 7   sold_quantity              347392 non-null  int64
 8   cost_price                 347392 non-null  int64
 9   net_price                  347392 non-null  int64
 10  customer_id                347392 non-null  object
 11  product_id                 347392 non-null  object
 12  Month                      347392 non-null  object
dtypes: category(7), int64(3), object(3)
memory usage: 21.2+ MB

In [38]:
train_sale_set['week'].value_counts()

4      16597
3      11294
27     10280
31     10132
2       9857
34      8980
6       8834
33      8735
44      8733
48      8627
1       8517
50      8161
7       8020
32      7861
35      7548
28      7399
14      7298
46      7250
51      7174
49      7168
36      7098
13      6884
52      6653
29      6563
47      6443
15      6364
45      6325
18      6099
17      6049
30      5971
16      5925
23      5650
22      5557
26      5534
24      5485
40      5310
41      5292
37      5188
25      5160
20      5000
19      4970
42      4798
43      4421
21      4301
8       4187
10      4147
9       4141
38      4051
39      4023
12      3761
11      3660
-47     2781
5       1136
Name: week, dtype: int64